*{
    margin: 0;
    
}
body{
    background-color: rgb(227, 208, 208);
    display: flex;
    justify-content: center;
}

.round-cornerbox-2 {

    display: flex;
    height: 500px;
    width: 500px;
    background-color: rgb(225, 76, 50);
    /* border: 5px solid black; */
    margin: 50px;
    padding: 5px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center ;
    

}
.round-cornerbox-2 .inside-box-level-2{
    display: flex;
    height: 200px;
    width: 200px;
    margin: 0px;
    background-color: rgb(211, 241, 118);
    /* border: 1px solid black; */
    align-items: center;
    justify-content: center;
}

.round-cornerbox-2 .inside-box-level-2 > .text-inbox{
   
    color: blueviolet;
    font-size: 500%;
}

.round-cornerbox-2 .inside-box-level-2 > .box-inbox{
  
    color: rgb(121, 87, 10);
}